@use "../../styles/mixin.scss";

$border-color: darkblue;

.CharacterSearchForm {
	background-color: skyblue;
	padding: 1rem;
	margin: 1rem;
	@include mixin.borderstyle(rgb(97, 197, 236));

	button {
		@include mixin.borderstyle($border-color);
		background-color: rgb(93, 194, 234);
		margin: 0.2rem;
		padding: 0.4rem;
		font-size: large;
		cursor: pointer;

		&:hover {
			box-shadow: 0px 7px 10px -5px #0057ab;
			transform: scale(1.03);
		}

		&:active {
			transform: scale(0.9);
		}
	}

	input {
		@include mixin.borderstyle($border-color);
		background-color: rgb(185, 255, 255);
		margin: 0.2rem;
		padding: 0.4rem;
		font-size: large;
	}
}
