@use "../../styles/mixin.scss";

.CharacterSearchForm {
	background-color: skyblue;
	padding: 1rem;
	margin: 1rem;
	@include mixin.borderstyle(rgb(97, 197, 236));

	button {
		border: 2px solid darkblue;
		background-color: rgb(0, 161, 161);
		margin: 0.2rem;
	}

	input {
		border: 2px solid darkblue;
		background-color: rgb(185, 255, 255);
		margin: 0.2rem;
	}
}
