@use "../../styles/mixin.scss";

.CharacterList {
	@include mixin.borderstyle(lightblue);
	background-color: lightblue;
	padding: 1rem;
	margin-top: 1.3rem;

	.char-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 1.3rem;
	}
}
