@use "./styles/mixin";

body {
	background-color: lightblue;
}

nav {
	border: 2px solid darkgreen;
	@include mixin.layout-margin;
}

footer {
	border: 2px solid green;
	@include mixin.layout-margin;
}
